img .App{
  height: 30%;
  width: 40%;
  padding: 0px;
}
.h{
  padding-bottom:  -15px;
  font-family: Gabriola;
}

.App{
  background-color:rgb(255, 220, 104);
  font-family: Grabiola;
  text-align: center;
}
.login{
font-family: Gabriola;
font-size: 20px;
background-color:rgb(54, 72, 105);
/* background-color:rgb(57, 89, 107); */
/* margin-left: 30%;
margin-right:30%;
border-left: 40px;
border-right: 40px; */
color:rgb(255, 220, 104);
border-radius: 24px;
}


