
h {
font-family:Gabriola;
font-size: 50px;
color: rgb(36, 62, 83);

}
select .Home{
  color:rgb(255, 252, 75);
  background-color: rgb(36, 62, 83);
  margin-top: 0px;
  margin-bottom:10px;
}

.Home{
background-color: lightskyblue;
}
/* .body{
  background-color:antiquewhite;
  border-radius: 4px;
  padding-left: 4px;
  padding-right: 4px;
  font: size 40px;
  font-family: Gabriloa;
  color:rgb(36, 26, 73);
} */
.Icon{
  border-radius: 10px;
  padding: 15px;
  right: 0%;
  justify-content: left;
  float: right; 
  position: relative;
  background-color:  rgb(251, 251, 253);
  color: rgb(177, 166, 72);
  font-family:Cambria;
}
button{
  color:rgb(0, 6, 90);
}

Switch{
  right:0%;
  float:right;
}
Switch{
color:darkblue;
}
.Home{
  display: flex;
  position:relative;
}
.head{
  right:0%;
position:absolute;
}
.mid{
background-color: lightskyblue;
}