
  .Login .div{
    padding-bottom:  -15px;
    font-family: Gabriola;
    background-color: firebrick;
  }
  
  
  .login  form{
  font-family: Gabriola;
  font-size: 20px;
  background-color:rgb(118, 183, 223);
  margin-left: 30%;
  margin-right:30%;
  border-left: 40px;
  border-right: 40px;
  color: rgb(22, 22, 18);
  border-radius: 24px;
  }
  
  
  