.Signup form {
    background-color: lightskyblue;
    color: rgb(54, 72, 105);
    text-shadow: aqua;
    text-shadow: 16px;
    font-family: 'Gabriola';
    font-size: 16px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 16px;
     padding-right: 10%;
    padding-left: 10%;
    border-radius: 16px;

}
hi{
    font-size: 40px;
}


